* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.notification-badge {
  color: #fff;
  background-color: rgb(102, 146, 126);
  margin: 0 -0.8em;
  border-radius: 50%;
  padding: 2px 5px;
  text-align: center;
  font-size: 10px;
}

.click {
  cursor: pointer;
}

.subtotal-label {
  font-size: 14px;
  padding: 3px;
}

.subtotal-currency {
  font-size: 12px;
}

.subtotal {
  font-size: 18px;
}

/* Override materialize CSS*/
.heading-icon:hover {
  opacity: 0.8;
}

#cart .card-panel {
  border-bottom: 1px solid #eeeeee;
  padding: 0px;
}

#cart .card-panel img {
  width: 120px;
  height: 95px;
}

#items .card .card-image img {
  height: 180px;
}

#items .card .card-content p.desc {
  font-size: 12px;
}
