.credit-card-details-box {
  padding: 15px;
  border-radius: 10px;
  position: relative;
  width: 320px;
  left: 70px;
  bottom: 30px;
  color: #fff;

  @media only screen and (max-width: 600px) {
    bottom: 0px;
    left: 30px;
  }

  & input {
    color: #fff;
    font-size: 14px;
  }

  & input.select-dropdown {
    font-size: 12px;
  }

  & img.card-type {
    width: 50px;
    position: absolute;
    top: 8.5rem;
    left: 15.2rem;
  }

  .credit-card {
    position: absolute;
    transition: box-shadow 0.25s;
    margin: 0.5rem 0 1rem 0;
    border-radius: 7px;
    width: 240px;
    right: 120px;
    color: #fff;

    & .card-number {
      font-size: 3rem;
      padding-left: 0.5rem;
    }

    & .card-name {
      font-size: 0.8rem;
      padding-left: 0.5rem;
    }

    & .card-expiry {
      font-size: 0.8rem;
      padding-left: 1rem;
    }

    & img.faded {
      position: absolute;
      top: -33px;
      right: 5px;
      width: 100px;
      height: 100px;
      opacity: 0.4;
    }
  }

  .row {
    margin-bottom: 18px;
  }

  .col.s12 > .btn {
    width: 100%;
  }
}
